/*цвет заголовков rgba(33, 33, 33, 1)*/
/*цвет текста rgba(117, 117, 117, 1)*/
/*цвет героя rgba(255, 255, 255, 1)*/
/*цвет фона героя rgba(47, 48, 58, 1)*/
/*голубой(accent) цвет rgba(33, 150, 243, 1)*/
/*цвет адресов в футере rgba(255, 255, 255, 0.6)*/
/*цвет лого studio rgba(0, 0, 0, 1)*/
/*цвет шапки rgba(255, 255, 255, 1)*/
/*цвет фона #F5F5F5 */
/*цвет фона вторичный rgba(245, 244, 250, 1)*/
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --button-grey-color: rgba(245, 244, 250, 1);
  /* Others */
  /* --card-set-gap: 30px; */
  --indent: 30px;
  --items: 3;
  --animation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
input:-webkit-autofill {
  -webkit-text-fill-color: ;
  transition: background-color 5000s ease-in-out 0s;
}
/* --FOOTER-- */

/* --FORM-FOOTER-- */

/* <<<PAGE PORTFOLIO>>> */

/* --BUTTON - PORTFOLIO-- */
.filter {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter__btn {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  
  text-align: center;
  
  color: var(--title-text-color);
  background-color: var(--button-grey-color);
  cursor: pointer;

  min-height: 38px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26px / 16px);
  
  transition: color var(--animation-function), background-color var(--animation-function), filter var(--animation-function);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* --GALLERY-- */
.projects-item {
  transition: box-shadow var(--animation-function);
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link:hover .overflow-projects,
.projects-link:focus .overflow-projects {
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px;
  max-width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects .title {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  font-size: 16px;
  line-height: 1.88;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.overflow-projects {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--animation-function);

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.overlflow-text {

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
}

/* .projects__item {
  transition: box-shadow var(--animation-function);
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-content {
  padding: 20px 24px;
  max-width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-content__title {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-content__text {
  font-size: 16px;
  line-height: 1.88;
}

.projects__thumb {
  position: relative;
  overflow: hidden; 
}
.project-overflow {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--animation-function);

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.projects__link:hover .project-overflow,
.projects__link:focus .project-overflow {
  transform: translateY(0);
}
.project-overlflow__text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
  
    color: var(--primary-white-color);
} */
/* --MODAL-WINDOW-- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--animation-function), visibility var(--animation-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;


  width: 528px;
  min-height: 581px;
  padding: 40px;
  

  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: transorm var(--animation-function);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.modal-btn:hover {
  fill: var(--accent-color);
}
/* modal-form */
.modal-form-main-text {
  display: block;
  margin-bottom: 12px;
  text-align: center;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
}
.modal-form-field {
padding-left: 42px;
padding-right: 42px;

  width: 100%;
  height: 40px;
  
  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--animation-function);
}
.modal-form-field:focus {
  border-color: var(--accent-color);
    
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px; 

  transition: fill var(--animation-function);
}
.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-label {
  display: block;
  margin-bottom: 5px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.modal-form-group {
  margin-bottom: 20px;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-message {
  display: block;
  width: 100%;
  height: 120px;

  resize: none;
  outline: unset;

  border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    transition: border-color var(--animation-function);

    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
     letter-spacing: 0.01em;
}
.modal-message:focus {
border-color: var(--accent-color);
}

.modal-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  margin-bottom: 30px;
}
.modal-agreement-link {
  color: var(--accent-color);
  text-underline-offset: 2px;
}
.modal-agreement-label {
  font-size: 14px;
    line-height: 1.71;
    user-select: none;
}
.modal-form-checkbox {
  appearance: none;

  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 1);

  background-position: center;
  background-repeat: no-repeat;
  box-sizing: 0;

  transition: background-size var(--animation-function),
  background-color var(--animation-function), 
  outline-color var(--animation-function);
}

.modal-form-checkbox:checked {
 outline-color: var(--accent-color);
 background-color: var(--accent-color);
 background-image: url(../images/icons/checked.svg);
 background-size: 11px 8px;
}
.modal-form-checkbox:focus {
outline-color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

      color: var(--primary-white-color);
      border: 0;
      background-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        transition: background-color var(--animation-function);
}

.modal-form-btn:hover,
 .modal-form-btn:focus {
  background-color: #188CE8;
}